body,
form,
#main-section,
#image-section,
#form-section,
.image-banner,
.button-container,
.form-body,
.form-col,
.form-footer{
    display: flex;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    --primary-font: Arial;
    --primary-font-size: 1rem;
    --header-font-size: 2rem;

    --background-color: rgb(220, 220, 220);
    --forms-color: white
}

#main-section{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#image-section{
    flex-direction: column;
    justify-content: center;
    background: url("./static/halie-west-25xggax4bSA-unsplash.jpg") center center / cover no-repeat;
    flex-basis: 40%;
}

#form-section{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8%;
    flex-basis: 60%;
    background-color: var(--background-color);
}

.image-banner{
    justify-content: center;
    height: max(150px, 20%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-text{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 10%;
}

/* Main-form starts here */
.form-header{
    text-align: center;
    font-family: var(--primary-font), Helvetica, sans-serif;
    font-size: var(--header-font-size);
}

form{
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    font-family: var(--primary-font), Arial, Helvetica, sans-serif;
    padding-bottom: 6%;
}

.form-body{
    justify-content: center;
    gap: 2%;
}

.form-col{
    flex-direction: column;
    gap: 4%;
}

.form-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
    font-family: var(--primary-font), Helvetica, sans-serif;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    background-color: #596d48;
    box-shadow: black 4px 4px 5px;
}

@media(min-width: 768px){
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;

        --primary-font: Arial;
        --background-color: rgb(220, 220, 220);
        --forms-color: white
    }

    #main-section{
        height: 100vh;
        width: 100vw;
        flex-direction: row;
    }

    #image-section{
        flex-direction: column;
        justify-content: start;
        padding-top: 15%;
        background: url("./static/halie-west-25xggax4bSA-unsplash.jpg") center center / cover no-repeat;
        flex-basis: 40%;
    }

    #form-section{
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1%;
        flex-basis: 60%;
        background-color: var(--background-color);
    }
    .image-banner{
        justify-content: center;
        height: max(150px, 20%);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .image-text{
        color: white;
        font-size: 3rem;
        position: relative;
        top: 10%;
    }

    /* Main-form starts here */
    .form-header{
        text-align: left;
        padding-left: 4%;
        font-family: var(--primary-font), Helvetica, sans-serif;
        font-size: var(--header-font-size);
    }

    form{
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        width: 100%;
        font-family: var(--primary-font), Arial, Helvetica, sans-serif;
        padding-bottom: 6%;
    }

    /*  h1 style For large screens only for padding purpose*/
    h1{
        padding-left: 4%;
    }
    .form-body{
        justify-content: flex-start;
        gap: 2%;
        padding-left: 4%;
    }

    .form-col{
        flex-direction: column;
        gap: 4%;
    }

    .form-footer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 8%;
        width: 100%;
        font-family: var(--primary-font), Helvetica, sans-serif;
    }

    button{
        width: 150px;
        height: 40px;
        border-radius: 5px;
        padding: 10px 25px;
        color: white;
        background-color: #596d48;
        box-shadow: black 4px 4px 5px;
    }
}


